//start burger icon
.menu-burger {
	//..menu-burger__icon
	&__icon {
		display: none;
		transition-duration: 0.7s;
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&:before, &:after {
			transform: rotate(0);
			transition-duration: 0.3s;
		}
		&.active {
			transition-duration: 0.7s;
			&:before {
				transform: translateY(0) rotate(-45deg);
			}
			&:after {
				transform: translateY(0) rotate(45deg);
			}
			&:before, &:after {
				background-color: #373737;
				transition-duration: 0.3s;
				top: 50%;
			}
		}
		@media (max-width: 815px) {
			display: block;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 20px;
			z-index: 300;
		}
	}
	//..menu-burger__middle
	&__middle {
		top: 50%;
		transform: translateY(-50%);
		transition-duration: 0.7s;
	}
}

.menu-burger__icon:before, .menu-burger__icon:after,
.menu-burger__icon .menu-burger__middle {
	position: absolute;
	content: "";
	left: 0;
	height: 4px;
	width: 30px;
	background-color: #373737;
	display: inline-block;
}
.menu-burger__icon.active .menu-burger__middle {
	transform: scale(0.1, 0.2);
	transition-duration: 0.7s;
}
//end burger icon